.hero__img {
    width: 100%;
}

.hero__imgOverlay {
    text-align: center;
    color: #E0DAB8;
    font-size: large;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}



