.header {
    display: flex;
}

.header__logo {
    width: 250px;
    height: 155px;
}

.nav {
    background: #e0dab8;

}

.navbar {
    background: #e0dab8;

}

.navbar > .navbar-expand > .navbar-dark > .bg-warning {
    background: rgb(224, 218, 184);
}

.navbar-dark {
    background: #e0dab8;
}